html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
  }

.title {
    position: relative;
    width: auto;
    top: 50%;
    transform: translateY(-50%);
    
}
.title h1 {
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
    background: white;
    text-align: center;
    width: auto;
  }


/*--- Fixed Background Image --*/
figure {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0!important;
  }
  .fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #fixed {
    background-image: url('img/1.jpg');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
  }

.paint {
  margin: 40px
}

.video {
  margin: 40px;
}

#fixed1 {
  background-image: url('img/2.jpg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}

#fixed2 {
  background-image: url('img/3.jpg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}

.social a {
  font-size: 4.5em;
  padding:   3rem;
}
.fa-facebook {
  color: #3b5998;
}
.fa-twitter {
  color: #00aced;
}
.fa-google-plus-g {
  color: #dd4b39
}
.fa-instagram {
  color: #517fa4;
}
.fa-youtube {
  color: #bb0000;
}
.fa-facebook:hover, 
.fa-twitter:hover, 
.fa-google-plus-g:hover, 
.fa-instagram:hover,
.fa-youtube:hover{
  color: #d5d5d5
}

#connect {
  margin: 50px;
}