body {
    text-align: center;
}
#logo {
    margin: 200px auto 50px;
}
#mag {
    width: 20px;
    margin-right: 15px;
    opacity: 60%;
}
#search {
    margin: 0 auto 50px;
    margin-left: -150px;
}
#google-search {
    border: transparent;
    padding: 10px;
    margin-right: 15px;
}
#lucky {
    border: transparent;
    padding: 10px;
}
#input {
    border: transparent;
    width: 400px;
}
#google-search:hover {
    border: 1px solid grey;
    border-radius: 12%;
}
#lucky:hover {
    border: 1px solid grey;
    border-radius: 12%;
}
#grid {
    padding-top: 8px;
    width: 17px;
}
.left {
    float: left;
    padding: 10px; 
}
.right {
    float: right;
    padding: 10px;
}
#buttons {
    margin-left: -130px;
}
.links {
    text-decoration: none;
    color: grey;
    font-size: 11px;
    padding: 0px 10px;
    font-weight: 200;
}
#signin {
    display: block;
    background-color: rgb(72, 142, 255);
    color: white;
    padding: 6px 13px;
    border-radius: 10%;
    font-weight: 600;
}
.text {
    margin-top: 12px;
}
.lower {
    text-decoration: none;
    color: grey;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 200;
}
.lower-left {
    float: left;
    padding: 15px;
}
.lower-right {
    float: right;
    padding: 15px;
}
.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}