body {
    text-align: center;
}
#logo {
    margin: 200px auto 50px;
}
#mag {
    width: 20px;
    margin-right: 15px;
}
#search {
    margin: 0 auto 50px;
    margin-left: -150px;
}
#google-search {
    border: transparent;
    padding: 10px;
    margin-right: 15px;
}
#lucky {
    border: transparent;
    padding: 10px;
}
#input {
    border: transparent;
    width: 400px;
}
#google-search:hover {
    border: 1px solid grey;
    border-radius: 12%;
}
#lucky:hover {
    border: 1px solid grey;
    border-radius: 12%;
}
#grid {
    padding-top: 10px;
    width: 17px;
}
.left {
    float: left;
    padding: 10px; 
}
.right {
    float: right;
    padding: 10px;
}
#buttons {
    margin-left: -130px;
}